.focus_module_quote {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px
}

.focus_module_quote_icon {
    font-size: 0;
    height: 50px;
    left: -25px;
    line-height: 0;
    padding: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-25px);
    width: 50px;
    z-index: 1
}

.focus_module_quote_text {
    display: block;
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    position: relative;
    text-align: center
}

.focus_module_quote_text.t_medium {
    font-size: 64px
}

.focus_module_quote_owner {
    border-radius: 30px;
    font-size: 14px;
    padding: 0 10px
}

.focus_module_quote_img {
    position: relative
}

.focus_module_quote_img img {
    background: #000;
    border-radius: 50%;
    display: block;
    font-size: 0;
    height: auto;
    width: 150px
}

@media (max-width: 767px) {
    .focus_module_quote_text, .focus_module_quote_text.t_medium {
        font-size: 48px
    }
}
