.focus_module_single_letter_number_container.focus_centered {
    margin: 0 auto
}

.focus_module_single_letter_number {
    display: inline-block;
    font-size: 144px;
    font-weight: 700;
    line-height: 1em;
    position: relative
}

.focus_module_single_letter_number:after {
    border-radius: 8px;
    bottom: -20px;
    content: "";
    height: 4px;
    left: calc(50% - 15px);
    position: absolute;
    width: 30px
}
